@import "compass";
@import "../_vars";

html, body {
	font-family: 'Source Sans Pro', Helvetica, sans-serif;
	width: 100%;
	height: 100%
}


body {
	position: relative;

	$bg-blur: 10px;
	#bg {
		background-image: url(/images/bg.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		@include filter(blur($bg-blur));
		position: absolute;
		top: -(2 * $bg-blur);
		left: -(2 * $bg-blur);
		bottom: -(2 * $bg-blur);
		right: -(2 * $bg-blur);

		&.hidden {
			display: none;
		}
	}
}
