@import "compass";
@import "../_vars";

header {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	text-align: center;

	&.hidden {
		display: none;
	}

	$header-height: 200px;
	$header-width: 380px;
	$widget-height: 30px;
	$widget-spacing: 10px;

	> div {
		height: $header-height;
		width: $header-width;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -($header-height / 2);
		margin-left: -($header-width / 2);

		h1 {
			font-size: 26px;
			font-weight: 200;
			margin-bottom: 20px;
			text-shadow: 0px 1px 4px rgba(0,0,0,0.35);
		}

		select {
			margin-right: $widget-spacing / 2;
			width: 17px;
			height: $widget-height;
			background-color: #eee;
			outline: none;
			border: none;
			position: relative;
			top: -2px;
		}

		input {
			background-color: white;
			border: none;
			outline: none;
			font-size: 18px;
			padding: 4px 6px;
			margin-right: $widget-spacing;
			height: 29px;
			@include border-radius($border-radius);
			width: 265px;
			color: #333;
			height: $widget-height;
		}

		button {
			height: $widget-height;
			position: relative;
			top: -2px;
		}
	}
}
