@import "compass";
@import "../_vars";

main {
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	opacity: 1.0;

	> div {
		width: 100%;
		height: 100%;
		display: table;
		
		> div {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
	}

	&.hidden {
		opacity: 0.0;
	}
}
